# label count 

# 

# Random Forest
# SVM = SVR
# XGBoost regression, 몇 대가 되는지..? 

적정 모델, 분류기를 찾아주세요. 

8:2
데이터 전처리 = 스케일링
regression으로 사용. 

평가지표 : mse

자전거 예측.

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import xgboost
import pandas as pd
import numpy as np

bike_rental=pd.read_csv('../ml/bike_rental.csv')

In [8]:
bike_rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [9]:
bike_rental.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [16]:
# iloc와 loc를 이용해서 count를 
feature = bike_rental.loc[:,['season','holiday', 'workingday', 'weather', 'temp', 'atemp','humidity', 'windspeed']]
label = bike_rental['count']
label

0         16
1         40
2         32
3         13
4          1
        ...
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64

In [18]:
# train_test_split을 해준다. 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( feature, label, test_size=0.2, random_state=42 )

from sklearn.preprocessing import StandardScaler

std = StandardScaler()
X_trian = std.fit_transform(X_train)
X_test = std.fit_transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# 하이퍼파라미터 gridserchCV
para =

### 머신러닝 지도학습
첫번째 배운 것 : Decision Tree 그 중에서 Randomforest ,KNN, SVM에 대해서 공부함. 

이것을 알고리즘이라 한다. 알고리즘을 통해 지도학습을 시킨다. 

Decsion Tree는 정규성을 띄지 않으나 바로적용해도 효과가 괴장히 좋다. 
공동 : EDA, data prepresicion(전처리)

오늘 내용. 회귀. (통계적 기법.)
회귀는  duddjfh regrassion

회귀란